# This is Git's per-user configuration file.
[user]
	name = Ben Colegate
	email = BennyC@users.noreply.github.com
[alias]
	s = status -s
  l = log --abbrev-commit
  cleanup = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
  pf = push --force-with-lease
  po = !CURRENT=$(git symbolic-ref --short HEAD) && git push -u origin $CURRENT 
  current = branch --show-current


[core]
	excludesfile = /Users/bencolegate/.gitignore
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
  tool=nvimdiff
[git-town]
	offline = false
