# This is Git's per-user configuration file.
[user]
	name = Ben Colegate
	email = ben.colegate@fourthwallcreative.com
[alias]
	s = status -s
  l = log --abbrev-commit
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[core]
	excludesfile = /Users/bencolegate/.gitignore
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
