let mapleader = ","
imap jj <ESC>


noremap j gj
noremap k gk

noremap <leader>ia :action ShowIntentionActions<CR>
noremap <leader>tt :action FileStructurePopup<CR>
noremap <leader>oi :action OptimizeImports<CR>
noremap <leader>fu :action FindUsages<CR>
noremap <leader>re :action Refactorings.QuickListPopupAction<CR>
noremap <leader>\ :action ToggleDistractionFreeMode<CR>
noremap <leader>xa :action CloseAllEditorsButActive<CR>
noremap <leader>cno :action MarkNotificationsAsRead<CR>
